@import url('../fonts/grotesk/font.css');
@import url('../fonts/fengardo/font.css');
@import url('../fonts/literata/font.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --grandzine-color-primary: #cf549e;
    --grandzine-color-secondary: #b9227d;
    --grandzine-color-accent: #ffb347;
    --grandzine-color-success: #28a745;
    --grandzine-color-warning: #ffc107;
    --grandzine-color-error: #dc3545;
}

body {
    background-color: #e7e7e7;
    font-family: literata, system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 50px 50px 35px;


    /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

main {
    padding: 1rem;
    column-count: 2;
}

main h2:first-child,
main p:first-child {
    margin-block-start: 0;
}

footer {
    margin-top: 30px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: grotesk;
    font-weight: 300;
}

h1.with-subtitle {
    margin-block-end: 0;
}

p.subtitle {
    margin-block-start: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: grotesk;
    font-weight: 100;
}

h1 {
    /* color: var(--grandzine-color-secondary); */
    font-size: 3rem;
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
}

div.top-bar {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    background-color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.top-bar div {
    align-content: center;
}

div.menu-bar {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


div.top-bar div.bar-left {
    align-self: center;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    flex: 0 0 auto;
}


div.top-bar div.bar-right {
    flex-basis: 70%;
    width: 100%;
    text-align: right;
}

div.top-bar div.bar-left img {
    margin-top: auto;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: auto;
}

div.menu-bar div.menu-item {
    flex-basis: 20%;
    padding: 10px;
    text-align: center;
    font-family: grotesk;
    font-weight: 200;
}

@media screen and (max-width: 800px) {
    div.top-bar {
        flex-direction: column-reverse;
    }

    div.top-bar div.bar-left {
        margin: 0 auto;
        text-align: center;
    }

    div.top-bar div.bar-right {
        text-align: center;
    }

    .top-bar-image-right {
        max-width: 100%;
        height: auto;
    }

    main {
        column-count: 1;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    header {
        width: 100%;
        padding: 0;
    }

    div.menu-bar {
        flex-wrap: wrap;
        justify-content: center;
    }

    body {
        padding: 1rem;
    }

}