doctype html
head
  title GrandZine Proto
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='robots' content='index,follow')
  meta(name='generator' content='GrapesJS Studio')
  link(rel='stylesheet' href='static/css/grandzine.css')
header.grandzine-head
  .top-bar(data-type-role='flex-row')
    .bar-left(data-type-role='flex-column')
      h1.with-subtitle GrandZine
      p.subtitle
        | Le Zine des Grands Voisins
    .bar-right(data-type-role='flex-column')
      a(href="https://www.lesgrandsvoisins.com") 
        img.top-bar-image-right(src='assets/logo_lesgrandsvoisins_600_72.inkscape.svg' width='600' height='72')
  .menu-bar(data-type-role='flex-row')
    .menu-item(data-type-role='flex-column')
      a(href='https://www.lesgrandsvoisins.com/fr/annuaire/') Annuaire
    .menu-item(data-type-role='flex-column')
      a(href='https://www.lesgrandsvoisins.com/fr/agenda/') Agenda
    .menu-item(data-type-role='flex-column')
      a(href='https://blog.lesgrandsvoisins.com') Actualit&eacute;s
    .menu-item(data-type-role='flex-column')
      a(href='https://www.lesgrandsvoisins.com/fr/association/') Association
    .menu-item(data-type-role='flex-column')
      a(href='https://www.lesgv.com/fr/') Apps
main.grandzine-content 
    p Pour créer votre compte, rendez-vous sur 
      a(href='https://key.lesgrandsvoisins.com') key.lesgrandsvoisins.com
      |  puis cliquer sur "Nouvel utilisateur ? Enregistrement" vers le bas de la fenêtre 
      | (possibilité avec le G ou en bas d'utiliser un compte Google existant).
footer.grandzine-footer